version: "3.9"

# Docker-compose is a tool used to orchestrate the deployment of services.
# We can define and run multi-container docker applications.

# https://docs.docker.com/network/
# networks are used to connect services through IP.
# The default driver which is used is the "bridge":
#   "bridge network is a Link Layer device which forwards traffic between network segments"
#   https://docs.docker.com/network/bridge/
networks:
  # Edge networks are the outer preimeter nodes of the network.
  # These nodes are "fully" accessible to the public through eg. HTTP, grpc, and so on.
  edge_net:
    driver: bridge
  # In contrast to the "edge"-network the "backend" is not directly accessible to the public
  # for the public to access the backend they are most ofently required to access it though
  # a reverse proxy found on the "edge"-network
  backend_net:
    driver: bridge

services:
  nginx:
    image: nginx:latest
    restart: always
    depends_on:
      - api_service
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/nginx.conf:/etc/nginx/ssl.conf
      - ./nginx/mime.types:/etc/nginx/mime.types
      - ./nginx/proxy.conf:/etc/nginx/proxy.conf
      - ./nginx/fastcgi.conf:/etc/nginx/fastcgi.conf
      - ./nginx/logs:/etc/nginx/logs
      - ./nginx/certs/localhost.crt:/etc/nginx/certs/localhost.crt
      - ./nginx/certs/localhost.key:/etc/nginx/certs/localhost.key
      - ./nginx/logs/error.log:/etc/nginx/error_log.log
#      - ./nginx/cache/:/etc/nginx/cache
    ports:
      - 80:80
      - 443:443
    env_file:
      - ./nginx/environment.env
    networks:
      - edge_net
      - backend_net

  api_service:
    image: docker-example:latest
    # When the api exits then it is restarted
    restart: always
    # Port mapping from the port "8080" on the host to "8080" in the container
    ports:
      - 8080:80
    networks:
      - backend_net
    env_file:
      - ./api/environment.env
